# stub .gitignore for my eclipse projects
# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore html subfolder
html/

# ignore all eclipse project settings
target/
*.class
.settings/
.classpath
.project

# ignore all files ending with ~
*~ 