# stub .gitignore for my eclipse projects
# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore html subfolder
html/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 